## Working with Lists


|New Concepts | Description|
| --- | --- |
| Dynamic List | A dynamic list is encapsulated by brackets _([])_. A list is mutable. Elements can be added to or deleted from a list on the fly.|
| List Concatenation | Two lists can be joined together in the same manner that strings are concatenated. |
| List Indexing | Lists are indexed with the first element being indexed as zero and the last element as the length of (number of elements in) the list less one. Indexes are called using brackets â€“ i.e., _lst[0]_ calls the 0th element in the list. |

In [1]:
# create an empty list
empty_list = []
empty_list, type(empty_list)

([], list)

In [2]:
# create a list containing integers
int_list = [1,2,3,4,5]
int_list, type(int_list)

([1, 2, 3, 4, 5], list)

In [3]:
# create a list containing floats
float_list = [1.0,2.0,3.0,4.0,5.0]
float_list, type(float_list)

([1.0, 2.0, 3.0, 4.0, 5.0], list)

In [4]:
# create a string list
string_list = ["Many words", "impoverished meaning"]
string_list, type(string_list)

(['Many words', 'impoverished meaning'], list)

In [5]:
# create a mixed list
mixed_list = [1,2.0, "Mix it up"]
mixed_list, type(string_list)

([1, 2.0, 'Mix it up'], list)

## Concatenation: Lists

In [6]:
# contenate two list

list1 = [1]
list2 = [2]
join_lists = list1 + list2
join_lists

[1, 2]

In [7]:
# similar to concatenating strings
str1 = '1'
str2 = '2'
join_strs = str1 + str2
join_strs

'12'

## for loop using in range will cycle through variable i from j to k - 1 by increments of l for i in range (j, k, l)

In [8]:
for i in range (1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [9]:
total = 0
for i in range (1, 101):
    total = total + i
    print(total) # printing within the loop prints the numbers
print()
print(total) # printing outside the loop prints the total value

1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465
496
528
561
595
630
666
703
741
780
820
861
903
946
990
1035
1081
1128
1176
1225
1275
1326
1378
1431
1485
1540
1596
1653
1711
1770
1830
1891
1953
2016
2080
2145
2211
2278
2346
2415
2485
2556
2628
2701
2775
2850
2926
3003
3081
3160
3240
3321
3403
3486
3570
3655
3741
3828
3916
4005
4095
4186
4278
4371
4465
4560
4656
4753
4851
4950
5050

5050

In [10]:
# count by 2
total = 0
for i in range (1, 101, 2):
    total = total + i
    print(total)

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
441
484
529
576
625
676
729
784
841
900
961
1024
1089
1156
1225
1296
1369
1444
1521
1600
1681
1764
1849
1936
2025
2116
2209
2304
2401
2500

In [11]:
total = 0
for i in range (1, 101):
    total = total + i
    print(i, total)

1 1
2 3
3 6
4 10
5 15
6 21
7 28
8 36
9 45
10 55
11 66
12 78
13 91
14 105
15 120
16 136
17 153
18 171
19 190
20 210
21 231
22 253
23 276
24 300
25 325
26 351
27 378
28 406
29 435
30 465
31 496
32 528
33 561
34 595
35 630
36 666
37 703
38 741
39 780
40 820
41 861
42 903
43 946
44 990
45 1035
46 1081
47 1128
48 1176
49 1225
50 1275
51 1326
52 1378
53 1431
54 1485
55 1540
56 1596
57 1653
58 1711
59 1770
60 1830
61 1891
62 1953
63 2016
64 2080
65 2145
66 2211
67 2278
68 2346
69 2415
70 2485
71 2556
72 2628
73 2701
74 2775
75 2850
76 2926
77 3003
78 3081
79 3160
80 3240
81 3321
82 3403
83 3486
84 3570
85 3655
86 3741
87 3828
88 3916
89 4005
90 4095
91 4186
92 4278
93 4371
94 4465
95 4560
96 4656
97 4753
98 4851
99 4950
100 5050

In [26]:
total = 0
for i in range (1, 101, 2):
    total = total + i
    print(i, total)

1 1
3 4
5 9
7 16
9 25
11 36
13 49
15 64
17 81
19 100
21 121
23 144
25 169
27 196
29 225
31 256
33 289
35 324
37 361
39 400
41 441
43 484
45 529
47 576
49 625
51 676
53 729
55 784
57 841
59 900
61 961
63 1024
65 1089
67 1156
69 1225
71 1296
73 1369
75 1444
77 1521
79 1600
81 1681
83 1764
85 1849
87 1936
89 2025
91 2116
93 2209
95 2304
97 2401
99 2500

In [12]:
lst1 = [543, 342, 6, 435, 543]
string1 = 'jhti4k3h23i'

for val in lst1:
    print(val)
print()

for letter in string1:
    print(letter)
print()



for letter in string1:
    print(letter, letter == 'k') # find letter 'k'

543
342
6
435
543

j
h
t
i
4
k
3
h
2
3
i

j False
h False
t False
i False
4 False
k True
3 False
h False
2 False
3 False
i False

In [13]:
words = ['The', 'dog', 'ate', 'the', 'snow', 'and', 'ate', 'his', 'dog', 'food']
# does the word 'ate appear in the list? If so, where?
ate_index_list = []

num_words = len(words)
for i in range (num_words):
    # save the string at index i as word
    word = words[i]
    # is_ate 
    is_ate = word == 'ate'
    print(i, 'Is the word', word, '\'ate\'?:', is_ate)

    if is_ate:
        ate_index_list.append(i)
ate_index_list

0 Is the word The 'ate'?: False
1 Is the word dog 'ate'?: False
2 Is the word ate 'ate'?: True
3 Is the word the 'ate'?: False
4 Is the word snow 'ate'?: False
5 Is the word and 'ate'?: False
6 Is the word ate 'ate'?: True
7 Is the word his 'ate'?: False
8 Is the word dog 'ate'?: False
9 Is the word food 'ate'?: False

[2, 6]

In [14]:
random_numbers = [1, 6, 23, 765432, 432, 1, 34, 43, 5, 7, 4]

# is the number greater than 10
not_greater_than_10 = []
greater_than_10 = []
for number in random_numbers:
    if number > 10:
        print(number, 'is greater than 10')
        greater_than_10.append(number)
    else:
        print(number, 'is not greater than 10')
        not_greater_than_10.append(number)

1 is not greater than 10
6 is not greater than 10
23 is greater than 10
765432 is greater than 10
432 is greater than 10
1 is not greater than 10
34 is greater than 10
43 is greater than 10
5 is not greater than 10
7 is not greater than 10
4 is not greater than 10

In [15]:
random_numbers = [1, 6, 23, 765432, 432, 1, 34, 43, 5, 7, 4]

# is the number greater than 10
not_greater_than_10 = []
zero_to_10 =[]
negative_numbers = []
for number in random_numbers:
    if number > 10:
        print(number, 'is greater than 10')
        greater_than_10.append(number)
    elif number >= 0:
        print(number, 'is the domain of 0 and 10')
        zero_to_10.append(number)
    else:
        print(number, 'is negative')
        negative_numbers.append(number)

1 is the domain of 0 and 10
6 is the domain of 0 and 10
23 is greater than 10
765432 is greater than 10
432 is greater than 10
1 is the domain of 0 and 10
34 is greater than 10
43 is greater than 10
5 is the domain of 0 and 10
7 is the domain of 0 and 10
4 is the domain of 0 and 10

In [16]:
greater_than_10, zero_to_10, negative_numbers

([23, 765432, 432, 34, 43, 23, 765432, 432, 34, 43], [1, 6, 1, 5, 7, 4], [])

In [17]:
random_numbers = [1, 6, 23, 765432, 432, 1, 34, 43, 5, 7, 4, -1, -45]

# is the number greater than 10
not_greater_than_10 = []
zero_to_10 =[]
negative_numbers = []
for number in random_numbers:
    if number > 10:
        print(number, 'is greater than 10')
        greater_than_10.append(number)
    elif number >= 0:
        print(number, 'is the domain of 0 and 10')
        zero_to_10.append(number)
    else:
        print(number, 'is negative')
        negative_numbers.append(number)

1 is the domain of 0 and 10
6 is the domain of 0 and 10
23 is greater than 10
765432 is greater than 10
432 is greater than 10
1 is the domain of 0 and 10
34 is greater than 10
43 is greater than 10
5 is the domain of 0 and 10
7 is the domain of 0 and 10
4 is the domain of 0 and 10
-1 is negative
-45 is negative

In [18]:
greater_than_10, zero_to_10, negative_numbers

([23, 765432, 432, 34, 43, 23, 765432, 432, 34, 43, 23, 765432, 432, 34, 43],
 [1, 6, 1, 5, 7, 4],
 [-1, -45])

## use del lst[i]

In [19]:
del greater_than_10[1]
del zero_to_10[1]
del negative_numbers[1]
greater_than_10, zero_to_10, negative_numbers

([23, 432, 34, 43, 23, 765432, 432, 34, 43, 23, 765432, 432, 34, 43],
 [1, 1, 5, 7, 4],
 [-1])

In [20]:
del greater_than_10[-1]
del zero_to_10[-1]
del negative_numbers[-1]
greater_than_10, zero_to_10, negative_numbers

([23, 432, 34, 43, 23, 765432, 432, 34, 43, 23, 765432, 432, 34],
 [1, 1, 5, 7],
 [])

In [21]:
greater_than_10.remove(23)

zero_to_10.remove(1)
greater_than_10, zero_to_10

([432, 34, 43, 23, 765432, 432, 34, 43, 23, 765432, 432, 34], [1, 5, 7])

## use lst.pop()

In [22]:
last_val_in_list = greater_than_10.pop()
greater_than_10, last_val_in_list

([432, 34, 43, 23, 765432, 432, 34, 43, 23, 765432, 432], 34)

## sorting lists

In [23]:
num_list = [1, 4, 2, 5, 543, 22]
num_list, sorted(num_list), num_list

([1, 4, 2, 5, 543, 22], [1, 2, 4, 5, 22, 543], [1, 4, 2, 5, 543, 22])

In [24]:
string_list = ['A', 'list', 'of', 'strings', 'is', 'in', 'string_list']
string_list, sorted(string_list)

(['A', 'list', 'of', 'strings', 'is', 'in', 'string_list'],
 ['A', 'in', 'is', 'list', 'of', 'string_list', 'strings'])

In [25]:
# sorting mixed types will generate an error
# you cannot compare strings and numerical values
sorted(num_list + string_list)

TypeError: '<' not supported between instances of 'str' and 'int'

## list slices

In [ ]:
# a sliced list takes a subset of values from a list
lst = [1, 2, 3, 4, 5, 6, 6, 7]

# compare full list and sliced list
lst, lst[2:5]

([1, 2, 3, 4, 5, 6, 6, 7], [3, 4, 5])

In [ ]:
lst, lst[0:-1:2]

([1, 2, 3, 4, 5, 6, 6, 7], [1, 3, 5, 6])

In [ ]:
lst, lst[::2]

([1, 2, 3, 4, 5, 6, 6, 7], [1, 3, 5, 6])

## lists and generator functions

In [ ]:
generator = (i for i in range(20))
generator

In [ ]:
list1 = list(generator)
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]