## Hello World

The class printed 'Hello World!' as well as checked the data type which we found was a string.

NB: Python identifies an object in quotes('') as a string

In [1]:
print('Hello World!')

Hello World!

In [2]:
type('Hello World')

str

## Save 'Hello World' as a variable

'Hello World' was saved as msg
The data type of msg was string

In [3]:
msg = 'Hello World'
print(msg)
print(type(msg))

Hello World
<class 'str'>

## Accessed the dir of variable msg

It was made known to the class that every string object has a subclass with methods

In [4]:
dir(msg)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

Created another variable msg. Applied the .upper() and .tittle() methods on msg to capitalize all the letters and capitalize the first letter of each word

In [5]:
msg = "john nash"
print(msg)

# ALL CAPS
msg_upper = msg.upper()
print(msg_upper)

# First Letter Of Each Word Capitalized
msg_title = msg.title()
msg_title

john nash
JOHN NASH

'John Nash'

## Concatenate

To concatenate means to join together. Used the + sign to concatenate or join string 'A' and 'B' to form a single string.

In [6]:
# Concatenate with '+'
print('A')
print('B')
print('A' + 'B')

print()

a = 'A'
b = 'B'
print(a + b)

A
B
AB

AB

In [7]:
line1 = "You thought it would be easy"
line2 = "You thought it wouldn't be strange"
line3 = "But then you started coding"
line4 = "Things never were the same"
print(line1 + line2 + line3 + line4)
print()
print(line1 +' '+ line2 +' '+ line3 +' '+ line4)
print()
print(line1 +'\n'+ line2 +'\n'+ line3 +'\n'+ line4)
print()
# use sep= 'string' to insert a particular string between ach object passed to print
print(line1, line2, line3, line4, sep='\n')

You thought it would be easyYou thought it wouldn't be strangeBut then you started codingThings never were the same

You thought it would be easy You thought it wouldn't be strange But then you started coding Things never were the same

You thought it would be easy
You thought it wouldn't be strange
But then you started coding
Things never were the same

You thought it would be easy
You thought it wouldn't be strange
But then you started coding
Things never were the same

## Quotes with quotes

Use the backslash/escape sign '\' to prevent errors

In [8]:
print(''')

SyntaxError: incomplete input (94425218.py, line 1)

In [9]:
print('\'')
print('"')

'
"

## More on String Methods

.replace() function is more useful to when one want to remove a word, letter or number(s)

In [10]:
spaces = '   Look at all the spaces in the text!   '
print(spaces)

   Look at all the spaces in the text!

In [11]:
# remove space on far left
print(spaces.lstrip())

Look at all the spaces in the text!

In [12]:
# remove space on the far right
print(spaces.rstrip())

   Look at all the spaces in the text!

In [13]:
# remove space on both sides
print(spaces.strip())

Look at all the spaces in the text!

In [14]:
# replace spaces with nothing
spaces.replace(' ','')

'Lookatallthespacesinthetext!'

In [15]:
# replace spaces with nothing
spaces.replace('   ','')

'Look at all the spaces in the text!'

In [16]:
# replace s with nothing
spaces.replace('s','')

'   Look at all the pace in the text!   '

## Working with numbers

In [17]:
print(1, 1.)

1 1.0

In [18]:
# checked the data type of int1 and float1
# int1 is an integer and float1 is a float

int1 = 1
float1 = 1.
str1 = '1'
print(type(int1), type(float1), type(str1))
print(int1, float1, str1)

<class 'int'> <class 'float'> <class 'str'>
1 1.0 1

In [19]:
int2 = int1 + int1
print(type(int2), int2)

<class 'int'> 2

In [20]:
# adding an integer and a float produces a float

float2 = int1 + float1
print(type(float2), float2)

<class 'float'> 2.0

In [21]:
# Attempt to sum an int or float with a string results in an error

print(int1 + str1)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

## Transform values to other data types

In [22]:
# change int1 ffrom an integer to a string and concantenate with str1

str11 = str(int1) + str1
str11

'11'

In [23]:
# convert from float to integer
print(int(float1))

1

In [24]:
total = 0
for i in range(20):
    total += i # same as total = total + 1
print(total)

190

In [25]:
# strings don't sum up but join together

total = '0'
for i in range(20):
    total += str(i) # same as total = total + 1
print(total)

0012345678910111213141516171819